body {
    background-color: rosybrown;
    font-family: 'Roboto', sans-serif;
}

#drum-machine {
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

#main-title {
    text-align: center;
}

#display {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    row-gap: 5px;
    column-gap: 5px;
}

.drum-pad {
    background-color: rgb(199, 55, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.drum-pad:hover {
    background-color: rgb(131, 15, 15);
}

audio {
    width: 100%;
}